# Build and Release Folders
bin-debug/
bin-release/
node_modules/
coverage/
logs/
npm-debug.log*

# Python
pyenv/
__pycache__/
*.py[cod]
*$py.class

# Ruby
*.gem
Gemfile.lock
*.rbc
/rdoc/
/lib/bundler/man/

# Bot-specific
.hubot_history
**/brain.json
config/default.json
config/production.json
config/development.json
config/db.json

# Vagrant travis files
.vagrant/
Vagrantfile
trav.sh

# Other files and folders
.settings/
.tmp/

# System files
.DS_Store
