# Build and Release Folders
bin-debug/
bin-release/
node_modules/
coverage/
logs/
npm-debug.log*

# Python
pyenv/
__pycache__/
*.py[cod]
*$py.class
models/
lib/py/ai/data/*
!lib/py/ai/data/titanic.csv
!lib/py/ai/data/titanic_test.csv

# Ruby
*.gem
Gemfile.lock
*.rbc
/rdoc/
/lib/bundler/man/

# Bot-specific
.env
.hubot_history
bin/.keys*
!bin/.keys-example
**/brain.json

# Vagrant travis files
.vagrant/
Vagrantfile
trav.sh

# Other files and folders
.settings/
.tmp/

# System files
.DS_Store
